/******************************************************************************
 * custom.scss
 * Builds the bootstrap CSS
 *
 * Lines below are just for easy cut and paste 
 * sass --watch __scss/custom.scss:_css/style.css --style compressed
 * sass __scss/custom.scss:_css/style.css --style compressed
 *
 *******************************************************************************/

 @import "../node_modules/bootstrap/scss/mixins/banner";
 @include bsBanner("");


/******************************************************************************
    UTA Colors
    Orange - #f58025
    Blue - #0064b1
    Dark Blue - #00447c
 *******************************************************************************/
 @import "../node_modules/bootstrap/scss/functions";

/*!  
 * Bootstrap Themed for mavboot
 */

// Variable Changes

// Color system

$white:    #fff !default;
$gray-600: #6c757d !default;
$gray-800: #343a40 !default;
$gray-100: #f8f9fa !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #175E28 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$uta-blue:  #0064b1 !default;
$uta-darkblue:  #00447c !default;
$uta-orange:    #f58025 !default;
$uta-darkorange:    #BF570D !default;

$colors: (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800,
    "uta-blue":   $uta-darkblue,
    "uta-darkblue": $uta-darkblue,
    "uta-orange":   $uta-orange,
    "uta-darkorange":   $uta-darkorange
) !default;

$primary:       $uta-darkblue !default;
$secondary:     $uta-blue !default;
$success:       $green !default;
$info:          $uta-darkorange !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
) !default;

$link-color:                  $uta-darkblue !default;
$font-size-base:              1.1rem !default; // Assumes the browser default, typically `16px`
$headings-font-family:        "Century Gothic", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, !default;
$headings-line-height:        1.5 !default;
$headings-color:              $primary !default;
$lead-font-weight:            400 !default;
$blockquote-footer-color:     $primary !default;

$navbar-light-color:                rgba($uta-darkblue, .90) !default;
$navbar-light-hover-color:          rgba($uta-darkblue, .99) !default;
$navbar-light-active-color:         rgba($uta-darkblue, .99) !default;
$navbar-light-disabled-color:       rgba($uta-darkblue, .3) !default;
$navbar-light-toggler-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
$navbar-light-toggler-border-color: rgba($uta-darkblue, .1) !default;

$dropdown-bg:                       #f8f9fa !important;
$dropdown-link-color:               $uta-darkblue !default;
$dropdown-link-hover-color:         $white !default;
$dropdown-link-hover-bg:            $uta-darkblue !default;


// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";

@import "../node_modules/bootstrap/scss/accordion";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/forms"; 
@import "../node_modules/bootstrap/scss/list-group"; 
@import "../node_modules/bootstrap/scss/modal"; 
@import "../node_modules/bootstrap/scss/nav"; 
@import "../node_modules/bootstrap/scss/navbar"; 
@import "../node_modules/bootstrap/scss/offcanvas"; 
@import "../node_modules/bootstrap/scss/pagination"; 
@import "../node_modules/bootstrap/scss/placeholders"; 
@import "../node_modules/bootstrap/scss/popover"; 
@import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/spinners"; 
@import "../node_modules/bootstrap/scss/tables"; 
@import "../node_modules/bootstrap/scss/toasts"; 
@import "../node_modules/bootstrap/scss/tooltip"; 
@import "../node_modules/bootstrap/scss/transitions"; 

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";

// Then add additional custom code here

/******************************************************************************
 * Customization for UTA Build
 *****************************************************************************/

// Skip to Content Link
.skippy {
  display: block;
  padding: 1em !important;
  color: $white;
  text-align: left;
  background-color: $uta-darkblue;
  outline: 0;

  &:hover {
    color:white;
  }

  & .skippy-text {
    padding: .5em;
    outline: 1px solid;
  }
} 

#global-navigation {
  border-top: 6px solid #f58025; 
  background-color:$uta-darkblue;
  & #uta-logo {
    max-height: 35px;
    width: auto;
  }
  & #site-title {color:$gray-100}
}

#sitenav {
  font-size:110%;
  font-weight:500;
  & .nav-item a.nav-link {
    border-bottom:1px solid white;
    &:hover {
      border-bottom:1px solid $uta-darkblue;
    }
  }
  @media screen and (max-width:576px) {
    & .nav-item a.nav-link {padding-left:20px;}
  }
}

.alert {
  border-left:4px solid transparent;
  padding-left:50px !important;
  &:before {
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;align-items: center;
    bottom: 0;display: flex;
    left: 0;padding: .75rem 1.25rem;
    position: absolute; top: 0;
  }
  &.alert-primary {
    border-color:$uta-darkblue
  }
  &.alert-secondary {
    border-color:$uta-blue
  }
  &.alert-success {
    border-color:$success;
    &:before {
      color: $success; 
      content: "\f058";
    }
  }
  &.alert-danger {
    border-color:$danger;
    &:before {
      content: "\f056";
      transform: rotate(40deg);
      color:$danger
    }
  }
  &.alert-warning {
    border-color:$warning;
    &:before {
      content: "\f071";
      color:$warning;
    }
  }
  &.alert-info {
    border-color:$info;
    &:before {
      content: "\f05a";
      color:$info;
    }
  }
  &.alert-light {
    border-color:black
  }
  &.alert-dark {
    border-color:black
  }
  & a  {
    text-decoration:underline
  }
}

#site-sidebar {
  border-left:1px solid $uta-orange;
  & p, & li {font-size: 0.95em;}
  & h1 {font-size:1.5em;}
  & h2 {font-size:1.4em;}
  & h3 {font-size:1.2em;}
  & h4 {font-size:1.1em;}
  & aside .icon-examples div { 
    background-color: #f7f7f7; 
    padding: 0 9px 0 9px;
    &:first-child {    
      color: #003366;
      font-size: 2.2rem;
      margin-bottom:6px;
    }
    &:last-child {    
      font-size: 0.9rem;
      margin-bottom:11px;
    }
  }
}

// Main Content Area
#maincontent {min-height:700px;}
figcaption {font-size:80%;text-align:center}

// make text on dark show as white
.bg-dark h1, .bg-dark h2, 
.bg-dark h3, .bg-dark h4, 
.bg-dark h5, .bg-dark h6,
.bg-primary h1, .bg-primary h2, 
.bg-primary h3, .bg-primary h4, 
.bg-primary h5, .bg-primary h6, 
.bg-primary p, .bg-primary ul,
.bg-primary ol, .bg-dark p,
.bg-dark ul, .bg-dark ol {
  color:white;
}

#footer-area {
  background-color: #003366;
  color: white;
  margin-top: 20px;
  padding: 20px 0 40px 0;
  min-height:200px;

  & p#footer-links {
    font-size: 0.9em;
    color: $gray-200;
    text-align:right;
    clear:both;
    color:#dedede;
    & a {
      color:#dedede;
      text-decoration:underline;
      text-decoration-color: #999999;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  & a {
    color:#dedede; 
    text-decoration:underline;
    text-decoration-color: #dedede;
    &:hover {
      color:$white; 
      text-decoration:underline;
      text-decoration-color: #dedede;
    }
  }
  & h1, & h2, 
  & h3, & h4, 
  & h5, & h6 {
    color:white;
  }
  & .social-icons {
    color:#dedede;
    font-size:2em;
    & a {
      color:#dedede;
      &:hover {
        color: $white;
      }
    }
    & a:hover {color:$white} 
  }
  & #footer-uta-name {float:right}

  @media screen and (max-width:991px) {
    & p#footer-links {
      text-align:left;
      clear:left;
      padding-top:0px;
      margin-top:0
    }
    & #footer-uta-name {
      float:left;
      padding-bottom:0;
      padding-top:15px;
    }
  }
}


//Blockquotes
blockquote.blockquote {
    padding: 15px 20px 15px 30px;
    margin: 20px 30px 20px 30px;
    background-color: #fafafa;
    border-left: 3px solid $uta-darkblue;
}
blockquote.blockquote span.blockquote-footer {text-align:right;color:$uta-darkblue}

//Buttons and cards
.btn, .card {margin-bottom:15px}

//Back to Top Button
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

// Homepage hero
#home-hero {
  background-image: url(../_images/big-data-graphic.png);
  background-size:cover;
  background-attachment: local;
  background-position:top;
  color:white;
  padding-top:40px;
  padding-bottom:80px;

  & .hero-text { 
    max-width:760px; 
    padding:15px 25px 15px 25px;
    background-color:#00447cd0;
  }
  & .display-1 { color:white; text-shadow:2px 2px 2px #000; }
  & .lead { color:white; text-shadow:1px 1px 2px #000; font-size: 1.75rem}
}

@media screen and (max-width: 920px) {
  #home-hero .display-1 {padding-top:5px; padding-bottom:30px;}
  #home-hero { min-height:100px; }
}

.split-section {
  padding-top:80px;
  padding-bottom:80px;
  font-size: 1.3rem;
}
.white-section {
  background-color:$white
}
.blue-section {
  background-color:$uta-darkblue;
  color: $white;
}
.orange-section {
  background-color:$uta-darkorange;
  color: $white;
}
.orange-section h1, .orange-section h2, .orange-section h3,
.orange-section h4, .orange-section h5, .blue-section h1, .blue-section h2, .blue-section h3,
.blue-section h4, .blue-section h5 {color:white}

//Accessibility fixes
.btn-outline-warning {color:#000} /* This is for contrast problems */
.carousel-item h1, .carousel-item h2,
.carousel-item h3, .carousel-item h4,
.carousel-item h5, .carousel-item h6 {color:white} /* This is for contrast problems */

/*
* Lines below for easy cut and paste in the terminal
* sass --watch __scss/custom.scss:_css/style.css --style compressed
* sass __scss/custom.scss:_css/style.css --style compressed
*/